
#title {}

#Arrival_Information { color:blue; }

#Arrival_Information_Paragraph { color: black; }

.boxed { border width: 1px;
        border: lightcyan; }

#ul li { list-style-image: url('seatonparksign.jpg');
    list-style: cjk-ideographic;
    background: #ff9999;
    padding: 30px;}

#what_to_do_in_seaton { padding: 10px
                        background: blue;
                        display: block;}

#what_to_do { text-align: center;
                padding-left: 10px }

#background_image {
    width: 100%;
    height: 500px;
    background-image: url('IMG_3575.jpg');
    background-repeat: no-repeat; 
    border: 1px solid black;
    background-size: cover;
    background-position: center
    
}
#page_2_background_image {
    width: 100%;
    height: 500px;
    background-image: url('IMG_3027.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center
    border: 1px solid black;

}

#page_3_background_image {
    width: 100%;
    height: 500px;
    background-image: url('Aberdeen_Scotland3.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center
    border: 1px solid black;
    background-size: cover;
    background-position: center
}
    
img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center
    border: 1px solid black;
    background-size: cover;
    background-position: center
    
    }
    

element.style {
}
user agent stylesheet
body {
    margin: 0px;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}



