
#background_image {
    width: 100%;
    height: 400px;
    background-image: url('file:///Users/sablawson-mcdowall/Desktop/IMG_3575.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid white;
}